@import "src/theme/base";
@import "src/ui/button/Button.module";

.home {
  @include withNavbar;
  min-height: 100vh;
  background-color: var(--color-background);

  &__total-value-locked {
    text-align: right;

    &--amount {
      color: var(--color-primary);
    }
  }

  &__property-card {
    &--row {
      > div {
        &:nth-child(n + 2) {
          @include atLargeTablet {
            margin-top: 0;
          }
          margin-top: $space-l;
        }
      }
    }
  }

  &__powered-by {
    display: flex;
    margin-bottom: $space-ml;

    > div,
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    svg {
      width: 112px;
    }
  }

  &__how-it-works {
    position: relative;
    padding: $navbar-height 0;

    &--box {
      @include atLargeTablet {
        margin-bottom: 0;
      }
      margin-bottom: $space-l;
    }

    &--icon {
      margin-bottom: $space-m;
      font-size: $font-size-headline-1;
      color: var(--color-primary);
    }
  }

  &__intro {
    position: relative;
    overflow: hidden;
    background-color: var(--color-background);

    &--linear-gradient {
      position: absolute;
      bottom: -100%;
      left: -25%;
      width: 150%;
      height: 100vh;
      background: url("/home/gradient@3x.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &--headline {
      margin-bottom: $space-m;
    }

    &--box,
    &--image {
      padding: $navbar-height 0;
    }

    &--image {
      @include atLargeTablet {
        display: block;
      }
      display: none;
      padding-top: $navbar-height / 2;

      img {
        width: 81%;
        height: auto;
      }
    }

    &--cta {
      @extend .button--outlined;
    }

    &--text-block {
      margin-bottom: $space-ml;
    }
  }

  &__featured-assets {
    min-height: 30vh;
    padding: $navbar-height 0;
    background-color: var(--color-background);

    &--cards {
      margin-top: $space-l;
    }
  }

  &__what-is {
    min-height: 30vh;
    padding-bottom: $navbar-height;
    background-color: var(--color-background);

    &--row {
      padding-top: $navbar-height;
    }

    &--image {
      @include atLargeTablet {
        display: none;
      }
      display: block;
      padding: ($navbar-height / 2) 0;
      text-align: center;

      img {
        width: 80%;
        height: auto;
      }
    }
  }

  &__use-cases {
    padding: $navbar-height 0;

    &--col {
      margin-bottom: $space-l;
    }
  }

  &__section {
    display: block;
  }

  &__button-box {
    margin-top: $space-ml;
  }

  &__property-card--cta {
    @extend .button-outline;
    display: block;
    width: 100%;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
