@import "src/theme/base";
@import "src/theme/button/primary";

.home {
  @include withNavbar;
  min-height: 100vh;
  background-color: var(--color-background);

  &__powered-by {
    display: flex;
    margin-bottom: $space-ml;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    svg {
      width: 112px;
    }
  }

  &__intro {
    &--headline {
      margin-bottom: $space-m;
    }

    &--image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
        height: auto;
      }
    }

    &--cta {
      @extend .button_primary;

      @include atLargeTablet {
        display: inline-block;
        margin-top: 0;
        margin-left: $space-m;
      }
      display: block;
      margin-top: $space-s;
      padding: 0;
      text-transform: inherit;
      text-decoration: underline;
      color: var(--color-primary);
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }

    &--text-block {
      margin-bottom: $space-ml;
    }
  }

  &__section {
    display: block;

    &--intro {
      padding: $navbar-height 0;
      background-color: var(--color-background);
    }

    &--cta-banner {
      min-height: 30vh;
      padding: $navbar-height 0;
      background-color: var(--color-primary);

      &--welcome {
        @include font-properties($typography-text);
        @include atTablet {
          @include font-properties($typography-headline-4);
          margin-bottom: 0;
          text-align: left;
        }
        margin-bottom: $space-m;
        text-align: right;
        color: var(--color-white);
      }

      &--cta {
        @include font-properties($typography-headline-3);
        display: block;
        text-align: right;
        color: var(--color-white);
      }
    }

    &--como-funciona {
      min-height: 30vh;
      background-color: var(--color-background);

      h2 {
        margin-bottom: $space-default;
        font-family: $font-family-display;
      }

      &--box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30vh;
      }
    }
  }
}
