@import "src/theme/base";

.property-header {
  margin-bottom: $space-xl;

  &__title {
    font-size: rem(39);
    font-weight: $font-weight-medium;
  }

  &__subtitle {
    margin-bottom: $space-ml;
  }

  &__map {
    height: 210px;
  }
}
