@import "src/theme/base";
@import "src/ui/button/Button.module";

.property-card {
  position: relative;

  &__header {
    @include atLargeTablet {
      min-height: 117px;
    }
  }

  &__title {
    margin-top: 0;
    color: var(--color-typography-text);
  }

  &__description {
    color: var(--color-typography-text);
  }

  &__details {
    width: 100%;
    height: 180px;
    padding: $space-default;
    overflow-y: scroll;
    color: var(--color-typography-text);
    background-color: var(--color-background-contrast);
  }

  &__sold-by {
    color: var(--color-typography-text);
  }

  &__price {
    display: block;
  }

  &__exchange-rate {
    display: block;
    color: var(--color-typography-text);
  }

  &__category {
    display: block;
    text-align: right;
  }

  :global {
    .card__background-image {
      height: 420px;
    }
  }

  &__cta {
    @extend .button-outline;
    display: block;
    width: 100%;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__stats-pill {
    position: absolute;
    top: $navbar-height;
    right: 0;

    &--expiration-date,
    &--funded {
      @extend .z-depth-1;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      padding: $space-xs;
      text-align: right;
      background-color: rgba(4, 12, 36, 0.7);

      p {
        color: var(--color-white);
      }
    }

    &--expiration-date {
      margin-bottom: $space-xs;
    }
  }
}
