@import "src/theme/base";
@import "src/ui/wallet-selector-navbar/variables";

.submit-property {
  display: block;

  &__main {
    @include withNavbar(1.2);
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      width: 100%;
    }
  }
}
