@import "src/theme/base";

.properties-index {
  display: block;
  margin-bottom: $navbar-height;

  &__heading {
    @include withNavbar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    text-align: center;
    background-color: var(--color-black);

    h1,
    p {
      color: var(--color-background);
    }
  }

  &__section {
    &--grid {
      margin-top: -$space-ml;
    }
  }

  &__property-card {
    display: flex;
    margin-bottom: $space-ml;

    &--background-image {
      width: 260px;
      height: 280px;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
