@import "src/theme/base";
@import "src/ui/wallet-selector-navbar/variables";

.property-details {
  position: relative;

  &__main {
    @include withNavbar;
    min-height: 100vh;
  }

  &__heading {
    padding: $space-ml 0;
    text-align: center;
  }

  &__gallery {
    padding-bottom: $navbar-height;
  }

  &__campaign {
    min-height: 50vh;
    padding-top: $navbar-height;
    padding-bottom: $navbar-height * 1.5;
    background-color: var(--color-white);

    &--right-col {
      padding-top: $space-m;
    }
  }
}
