@import "src/theme/base";

.property-details {
  position: relative;

  &__main {
    @include withNavbar(1.2);
  }

  &__card {
    margin-bottom: $navbar-height;
  }

  &__row-reverse {
    @include atLargeTablet {
      flex-flow: initial;
    }
    flex-flow: column-reverse;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &--content {
      height: 426px;
      margin-right: -$space-default;
      margin-left: -$space-default;
      padding: $space-default;
      overflow-y: scroll;
      background-color: var(--color-background-contrast);
    }
  }

  &__actions {
    &--secondary {
      display: flex;
      justify-content: space-between;
      padding: $space-default;
    }
  }
}
