@import "src/theme/base";

.media-carousel {
  display: block;
  margin-bottom: $space-ml;

  &__img {
    width: auto;
    height: auto;
    max-height: 300px;
    border-radius: $border-radius;
  }

  :global {
    .control-next {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .control-prev {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}
