@import "src/theme/base";
@import "src/ui/typography/variables";

.investment-details {
  &__heading {
    margin-top: 0;
  }

  &__heading2 {
    @include font-properties($typography-headline-6);
  }

  &__sold,
  &__price {
    display: flex;
    margin-bottom: $space-default;
  }

  &__circular-progress,
  &__price-heading {
    min-width: 70px;
    margin-right: $space-default;
  }

  &__sold-description,
  &__price-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__price-heading-text {
    font-size: $font-size-headline-6;
    text-align: center;
  }

  &__register-interest-modal {
    &--header {
      margin-bottom: 0;
    }
  }

  &__clickable {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
