@import "src/theme/base";

.property-content {
  display: block;

  &.entry-content {
    [class*="wp-duotone-"] {
      filter: grayscale(50%);
    }
  }

  [class*="uagb-toc__wrap"] {
    margin-bottom: $space-ml;
    border-radius: $border-radius;
    padding: $space-default;
    background-color: var(--color-status-info-lighter);
  }

  li[class*="uagb-toc__list"] {
    margin-bottom: $space-s !important;
  }
}
