@import "src/theme/base";
@import "src/ui/typography/mixins";

.market {
  display: block;

  &__container {
    height: calc(100vh - 30px);
  }

  &__row {
    display: flex;
  }

  &__navbar {
    &--logo {
      width: 32px;
    }
  }

  &__details {
    width: 65%;

    &--about {
      height: 42vh;
    }

    &--long-description {
      h1 {
        @include headline1;
      }

      h2 {
        @include headline2;
      }

      h3 {
        @include headline3;
      }

      h4 {
        @include headline4;
      }

      h5 {
        @include headline5;
      }

      h6 {
        @include headline6;
      }

      p {
        @include text;
      }

      strong {
        @include textBold;
      }
    }
  }

  &__orders {
    width: 35%;
  }

  &__table {
    width: 100%;

    &--wrapper {
      display: block;
      max-height: 180px;
      overflow-y: auto;
    }

    &--head {
      th {
        padding: 14px;
      }
    }

    &--body {
      height: 180px;

      td {
        padding: 14px;
      }
    }
  }
}
