@import "src/theme/base";

.footer {
  display: block;

  &__cta-banner {
    min-height: 30vh;
    padding: $navbar-height 0;
    background-color: var(--color-black);

    &--welcome {
      @include atTablet {
        text-align: left;
      }
      text-align: right;
      color: var(--color-white);
    }

    &--description {
      @include font-properties($typography-text);
      @include atTablet {
        margin-bottom: 0;
        text-align: left;
      }
      margin-bottom: $space-ml;
      text-align: right;
      color: var(--color-white);
    }

    &--cta {
      @include font-properties($typography-headline-3);
      display: block;
      text-align: right;
      color: var(--color-white);
    }
  }

  &__copyright {
    padding: $space-ml 0;
    background-color: var(--color-background-contrast);

    &--social {
      display: flex;
      justify-content: flex-end;

      &-icon {
        font-size: $font-size-headline-5;
      }
    }
  }
}
