@import "src/theme/base";

.contract-deposit-form {
  @include atLargeTablet {
    width: 80%;
  }
  width: 100%;

  &__input {
    input {
      margin-bottom: 0 !important;
      background-color: var(--color-background) !important;
    }
  }

  &__inline-wrapper {
    @include atLargeTablet {
      &--form {
        display: block;
      }

      &--button {
        display: block;
      }
    }
    display: block;

    &--button {
      display: flex;
      justify-content: flex-end;
      margin-top: $space-default;

      button {
        @include font-properties($typography-mini-button-label);
        @include atLargeTablet {
          @include font-properties($typography-button-label);
          padding: 13px 24px;
        }
        padding: $space-s 20px;

        &:nth-child(n + 2) {
          margin-left: $space-default;
        }
      }
    }
  }
}
