@import "src/theme/base";
@import "src/app/property-details/PropertyDetails2.module";

.property-preview {
  @extend .property-details;

  &__main {
    @extend .property-details__main;
  }

  &__card {
    @extend .property-details__card;
  }

  &__row-reverse {
    @extend .property-details__row-reverse;
  }

  &__left {
    @extend .property-details__left;

    &--content {
      @extend .property-details__left--content;
      height: 375px;
    }
  }

  &__actions {
    &--secondary {
      @extend .property-details__actions--secondary;
    }
  }
}
