@import "src/theme/base";
@import "src/ui/button/Button.module";
@import "src/ui/wallet-selector-navbar/variables";
@import "src/ui/typography/variables";

.home {
  min-height: 100vh;
  background-image: url(/home/bg-grain-pattern.png);
  background-repeat: repeat;

  &__total-value-locked {
    text-align: right;

    &--amount {
      color: var(--color-primary);
    }
  }

  &__property-card {
    &--row {
      > div {
        &:nth-child(n + 2) {
          @include atLargeTablet {
            margin-top: 0;
          }
          margin-top: $space-l;
        }
      }
    }
  }

  &__powered-by {
    display: flex;
    margin-bottom: $space-ml;

    > div,
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    svg {
      width: 112px;
    }
  }

  &__faqs {
    padding: $navbar-height * 1.5 0;

    &--heading {
      margin-top: $space-ml;
      margin-bottom: $space-xl;
      font-size: $font-size-headline-1;
      text-align: center;
    }

    &--icon-heading {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        width: 70px;
      }
    }
  }

  &__stats {
    padding-top: $navbar-height * 1.5;

    &--heading {
      font-size: $font-size-headline-1;
      font-weight: $font-weight-regular;
      text-align: center;

      span {
        vertical-align: middle;

        svg {
          width: 240px;
        }
      }

      &-regular {
        margin-bottom: $space-xl;
        font-weight: $font-weight-regular;
        text-align: center;
      }
    }

    &--data {
      text-align: center;

      h2 {
        font-size: $font-size-headline-1;
      }
    }
  }

  &__how-it-works {
    position: relative;
    padding: $navbar-height * 1.5 0;

    &--heading {
      margin-top: $space-ml;
      font-size: $font-size-headline-1;
      text-align: center;

      &-regular {
        font-weight: $font-weight-regular;
        text-align: center;
      }
    }

    &--icon-heading {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        width: 70px;
      }
    }

    &--row-heading {
      font-size: $font-size-headline-2;
    }

    &--box {
      @include atLargeTablet {
        margin-bottom: 0;
      }
      margin-bottom: $space-l;
    }

    &--icon {
      margin-bottom: $space-m;
      font-size: $font-size-headline-1;
      color: var(--color-primary);
    }

    &--icon-shield-check {
      color: var(--color-status-critical);
    }
  }

  &__intro {
    @include withNavbar;
    position: relative;
    overflow: hidden;

    &--headline {
      margin-bottom: $space-m;
    }

    &--box,
    &--image {
      @include atLargeTablet {
        display: flex;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 80vh;
      padding: $navbar-height 0;
    }

    &--image {
      @include atLargeTablet {
        display: flex;
      }
      display: none;

      img {
        width: 100%;
        height: auto;
      }
    }

    &--cta {
      @extend .button--outlined;
    }

    &--text-block {
      margin-bottom: $space-xl;
    }
  }

  &__featured-assets {
    min-height: 30vh;
    padding: $navbar-height 0;
    background-color: var(--color-background);

    &--cards {
      margin-top: $space-l;
    }
  }

  &__what-is {
    min-height: 30vh;
    padding-bottom: $navbar-height;
    background-color: var(--color-background);

    &--row {
      padding-top: $navbar-height;
    }

    &--image {
      @include atLargeTablet {
        display: none;
      }
      display: block;
      padding: ($navbar-height / 2) 0;
      text-align: center;

      img {
        width: 80%;
        height: auto;
      }
    }
  }

  &__use-cases {
    padding: $navbar-height 0;

    &--col {
      margin-bottom: $space-l;
    }
  }

  &__section {
    display: block;

    &--heading {
      font-size: $font-size-headline-3;
    }
  }

  &__button-box {
    margin-top: $space-ml;
  }

  &__property-card--cta {
    @extend .button-outline;
    display: block;
    width: 100%;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
